@font-face {
    font-family: norse-bold;
    src: url("./fonts/Norse-Bold.otf");
}

label[for="textbox"] {
    font-size: large;
}

img {
    width: 500px;
    height: auto;
}

h1 {
    font-family: norse-bold, sans-serif;
}