* {
    box-sizing: border-box;
}

@font-face {
    font-family: norse-bold;
    src: url("./fonts/Norse-Bold.otf");
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* overflow-wrap: break-word; 
    word-wrap: break-word;
    white-space: normal;
    overflow: auto; */
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.img-container {
    position: relative;
    width: 35%;
    flex-shrink: 0;
}

.img-plant {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.img-body {
    position: absolute;
    width: 100%;
    height: 10rem;
    background: black;
    opacity: 0.6;
    top: 7rem;
    z-index: -1;
}

.img-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Norse-Bold, sans-serif;
    color: white;
    font-size: 2.5rem;
    text-align: center;

    position: relative;
    top: 6rem;
}

.img-odin {
    width: 6rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    background-color: #fafafa;
    /* height: 30%; */
    padding: 0 0 2rem 3rem;
    font-family: sans-serif;
}

.form-heading > h2 {
    max-inline-size: 55ch;
    /* font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem); */
}

/* label[for="textbox"] {
    font-size: large;
}

img {
    width: 500px;
    height: auto;
}

h1 {
    font-family: norse-bold, sans-serif;
} */